## A step-by-step guide to Data Visualizations in Python

Follow along with [this article](https://medium.com/codex/step-by-step-guide-to-data-visualizations-in-python-b322129a1540).  We will be using [this .xlsx dataset](https://www.kaggle.com/roshansharma/immigration-to-canada-ibm-dataset) from Kaggle on Immigration to Canada from 1980â€“2013. No need to dowload it, it is already in the git repositroy you forked.<br>

#### We suggest that instead of copy and pasting the code, you type it out.  This will help you become more familiar with the syntex and better understand it.

### Step-1: Importing Packages

In [ ]:
#import all librarys and modules needed
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
style.use('ggplot')
plt.rcparam['figure.figsize'] =(20,10)

### Step-2 : Importing and Cleaning Data

In [17]:
#import and clean data, remember path is data/Canada.xlsx
df = pd.read_excel('data/canada.xlsx', 1, skiprows = range(20), skipfooter = 2)
df.drop(['AREA', 'REG','DEV', 'Type', 'Coverage','DevName'], axis = 1, inplace = True)
df.rename(columns = {'OdName' : 'country', 'AreaName': 'continent', 'RegName': 'region'}, inplace = True)
df['total'] = df.sum(axis = 1)
df = df.set_index('country')
df.head(10)

C:\Users\RAJNIG~1\AppData\Local\Temp/ipykernel_8468/2407249261.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['total'] = df.sum(axis = 1)

,continent,region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15
Angola,Africa,Middle Africa,1,3,6,6,4,3,5,5,...,295,184,106,76,62,61,39,70,45,2113
Antigua and Barbuda,Latin America and the Caribbean,Caribbean,0,0,0,0,42,52,51,61,...,24,32,15,32,38,27,37,51,25,981
Argentina,Latin America and the Caribbean,South America,368,426,626,241,237,196,213,519,...,1153,847,620,540,467,459,278,263,282,19596
Armenia,Asia,Western Asia,0,0,0,0,0,0,0,0,...,224,218,198,205,267,252,236,258,207,3310
Australia,Oceania,Australia and New Zealand,702,639,484,317,317,319,356,467,...,909,875,1033,1018,1018,933,851,982,1121,23829

### Step-3 : Creating Beautiful Visualizations

#### Line Chart

In [1]:
# Single line chart

In [2]:
# Multiple Line chart

#### Lets talk about style

In [3]:
#Shows all avaiable built-in styles
print(plt.style.available)

To see a visualization of the aviable style sheets [click here](https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html). 

Syntex to select a specific style is: plt.style.use('style_name') 

Try it out by adding the line of code to the top of the code block above and choose one of the preinstalled styles. Which style is your favorite?<br><br>

What happens when you change the line- plt.legend(loc = 'upper left', fontsize = 12) to plt.legend(loc = 'lower right', fontsize = 12)? <br><br><br><br>



Experiment changing other lines of the code and see how the graph changes. Add any notes or observations here. Going forward feel free to experiment with each graph type<br><br><br><br><br><br>

#### Install mplcyberpunk
Open a terminal window and at at the prompt type:

python -V

If its python 3.something, copy and paste: pip install mplcyberpunk
If its python 2.something, copy and paste: pip3 install mplcyberpunk


For more info on mplcyberpunk click [here.](https://github.com/dhaitz/mplcyberpunk)

In [4]:
# Cyberpunk Multiple Line Chart

#### Bar Chart

In [5]:
# Vertical bar chart
# Do not change the style back to ggplot 
# delete the style.use('ggplot') line of code

Notice that style is still set to cyberpunk.  How do we fix it so we can see the labels?<br> <br>

Answer: change the color = 'black' to 'white'

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [7]:
# Horizontal bar chart
#change style back to ggplt

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [8]:
# Grouped bar chart

Notice how the labels in the legend have disapeared?  We can fix this by adding labelcolor='k' to plt.legend<br>
<br>plt.legend(title = 'Country', fontsize = 12, labelcolor='black')

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Area Chart

In [9]:
# Area Chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [10]:
# cyberpunk simple area chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [11]:
# stacked area chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [12]:
# unstacked area chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Box Plot

In [13]:
# Vertical Box Plot

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [14]:
# horizontal box plot

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Scatter Plot

With the newist version of Seaborn we have to specify x and y.

example: sb.scatterplot(x = 'sepal_length', y = 'sepal_width', data = df_iris)

In [15]:
#scatter plot comparing sepal length to sepal width

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Histogram

With the newist version of Seaborn they have deprecated distplot. Replace distplot with histplot and add kde = True

example:
sb.histplot(df_iris['sepal_length'], color = 'Red', label = 'Sepal Length', kde = True)

In [16]:
#Histogram side by side, with kde

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Bubble Plot

In [17]:
# Bubble Plot

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Pie Chart

Skip this one as the code throws an error.

df_pie = pd.DataFrame(df.groupby('continent')['total'].sum().T)
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue', 'lightgreen', 'pink']
explode = [0,0.1,0,0,0.1,0.1]

plt.pie(df_pie, colors = colors, autopct = '%1.1f%%', startangle = 90, explode = explode, pctdistance = 1.12, shadow = True)
plt.title('Continent-Wise Immigrants Distribution', color = 'black', y = 1.1, fontsize = 18)
plt.legend(df_pie.index, loc = 'upper left', fontsize = 12)
plt.axis('equal')
plt.savefig('pie.png')

plt.show()

#### Doughnut Chart

In [18]:
# Doughnut Chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Regression Plot

In [19]:
# Strong trend

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

In [20]:
# Weak trend

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Word Cloud

You might need to pip install wordcloud and pip install Pywaffle.  Follow the instruction from when you installed cyperpunk earlier.

Make sure to add the txt files from [here](https://github.com/codinglikeagirl42/DataVisualizationPython) to your data folder and remember the path is data/filename.txt. Try creating your own txt file to visualize.

In [21]:
# word cloud
from wordcloud import WordCloud, STOPWORDS

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>

#### Lollipop Chart

In [22]:
# Lollipop chart

Feel free to experiment and add any notes or observations here. <br><br><br><br><br>